In [36]:
import yfinance as yf
import gpflow as gp
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'matplotlib'

In [33]:
sp500 = yf.download(tickers = "^GSPC", start = "1994-01-07", 
                              end = "2021-02-01", interval = "1d")
sp500

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1994-01-07,467.089996,470.260010,467.029999,469.899994,469.899994,324920000
1994-01-10,469.899994,475.269989,469.549988,475.269989,475.269989,319490000
1994-01-11,475.269989,475.279999,473.269989,474.130005,474.130005,305490000
1994-01-12,474.130005,475.059998,472.140015,474.170013,474.170013,310690000
1994-01-13,474.170013,474.170013,471.799988,472.470001,472.470001,277970000
...,...,...,...,...,...,...
2021-01-25,3851.679932,3859.229980,3797.159912,3855.360107,3855.360107,6955860000
2021-01-26,3862.959961,3870.899902,3847.780029,3849.620117,3849.620117,6029090000
2021-01-27,3836.830078,3836.830078,3732.479980,3750.770020,3750.770020,9878040000
2021-01-28,3755.750000,3830.500000,3755.750000,3787.379883,3787.379883,6937960000
2021-01-29,3778.050049,3778.050049,3694.120117,3714.239990,3714.239990,6612570000

In [34]:
sp500_daily_returns = sp500['Adj Close'].pct_change()
sp500_monthly_returns = sp500['Adj Close'].resample('M').ffill().pct_change()

In [35]:
fig, (ax1, ax2) = plt.subplots(2)
ax1 = fig.add_axes([0.1,0.1,0.8,0.8])
ax1.plot(sp500_daily_returns)
ax1.set_xlabel("Date")
ax1.set_ylabel("Percent")
ax1.set_title("SPY500 daily returns data")
ax2 = fig.add_axes([0.1,0.1,0.8,0.8])
ax2.plot(sp500_monthly_returns)
ax2.set_xlabel("Date")
ax2.set_ylabel("Percent")
ax2.set_title("SPY500 monthly returns data")
plt.show()

NameError: name 'plt' is not defined